/* --- general styles --- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  /* Sets up the Base 10 stuff 100%/1.6 */
  height: 100%;
}

body {
  background-color: #fff;
  color: #555;
  font-family: 'scadaRegular', $font-stack-helvetica;
  @include font-size(1.4);
  font-smoothing: antialiased;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;   
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  li {
    list-style: none;
  }
}

input,
textarea {
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: inset 0px 0px 5px 0px rgba(51, 51, 51, 0.1);
  font-size: 16px;
  color: #444;
  padding: 11px 8px;
  outline: none;
  transition: border-color .3s ease;
  &:hover,
  &:active,
  &:focus {
    border-color: #9964c2;
  }
}

label {
  
}

button{
  border: none;
  background-color: transparent;
}

main{
  padding-bottom: 68px;
  min-height: calc(100% - 186px);
}

.wrap {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.row{
  margin: 0 -10px;
  font-size: 0;
}

.col{
  padding: 0 10px;
  display: inline-block;
  vertical-align: top;
}

.btn {
  font-size: 14px;
  line-height: 54px;
  font-family: 'scadaRegular', $font-stack-helvetica;
  width: 210px;
  height: 56px;
  text-align: center;
  border-radius: 7px;
  background-color: #fff;
  border: 1px solid #fff;
  color: #333;
  display: inline-block;
  &:hover,
  &:focus,
  &:active {
    
  }
}

.title{
  text-align: center;
  font-family: 'robotoBold', $font-stack-helvetica;
  color: #333;
  font-size: 38px;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: bold;
}

.subtitle{
  text-align: center;
  font-family: 'robotoBold', $font-stack-helvetica;
  color: #333;
  font-size: 29px;
  line-height: 55px;
  text-transform: uppercase;
  font-weight: bold;
}

.bold{
  font-family: 'scadaBold', $font-stack-helvetica;
  font-weight: bold;
}

/* header */

header{
  background-color: #333;
  color: #999;
  font-size: 18px;
  padding: 11px 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  @include clearfix;
  .icon{
    border-radius: 50%;
    background-color: #444;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    width: 42px;
    height: 42px;
    text-align: center;
    padding: 9px;
    display: inline-block;
    vertical-align: -25%;
    margin-right: 10px;
    svg{
      width: 100%;
      height: 100%;
    }
  }
  .left_col{
    float: left;
  }
  .right_col{
    float: right;
  }
  .logo_block{
    .logo{
      display: block;
      margin: 0 auto;
      width: 277px;
      img{
        width: 100%;
      }
      .logo_mobile{
        display: none;
        visibility: hidden;
      }
    }
  }
  .burger_menu{
    margin-right: 40px;
  }
  .basket{
    position: relative;
    margin-left: 40px;
    .number{
      position: absolute;
      top: -14px;
      left: 30px;
      border-radius: 50%;
      background-color: #e16383;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
      width: 20px;
      height: 20px;
      color: #fff;
      font-family: 'robotoRegular', $font-stack-helvetica;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      display: inline-block;
    }
  }
  .burger_menu,
  .favorites,
  .basket,
  .icon_close{
    .icon{
      transition: background-color .3s ease, box-shadow .3s ease;
    }
    &:hover .icon,
    &:active .icon,
    &:focus .icon{
      background-color: #555;
      box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.3);
    }
  }
}
.top_block{
  padding-top: 20px;
  padding-bottom: 20px;
  @include clearfix;
}
nav{
  float: left;
  width: calc(100% - 460px);
  padding-top: 14px;
  padding-bottom: 14px;
}
.index_nav{
  font-size: 0;
  li{
    display: inline-block;
    margin-right: 2.778%;
  }
  a{
    font-family: 'scadaBold', $font-stack-helvetica;
    color: #555;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    opacity: .7;
    transition: opacity .3s ease;
    &:hover,
    &:active,
    &:focus{
      opacity: 1;
    }
  }
  .novelty{
    padding-left: 30px;
    background: url('../img/icons/icon_novelty.png') left center no-repeat;
  }
  .sale{
    padding-left: 30px;
    background: url('../img/icons/icon_sale.png') left center no-repeat;
  }
}
.search_block{
  float: right;
  position: relative;
  width: 100%;
  max-width: 460px;
  input[type='search']{
    padding: 19px 58px 19px 13px;
    width: 100%;
    transition: border-color .3s ease;
  }
  &:hover input[type='search'],
  &:active input[type='search'],
  &:focus input[type='search']{
    border-color: #9964c2;
  }
  .search{
    position: absolute;
    width: 56px;
    height: 56px;
    padding: 19px;
    top: 1px;
    right: 1px;
    cursor: pointer;
    svg{
      width: 100%;
      height: 100%;
    }
  }
}
.menu_popup_overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(222,222,222,.8);
  overflow-y: auto;
  display: none;
  &.opened{
    .menu_content{
      transform: translateX(0);
    }
  }
}
.menu_content{
  background-color: #333;
  width: 480px;
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.3);
  padding: 9px 5px 29px;
  transform: translateX(-480px);
  transition: transform .3s ease;
  .logo{
    width: 80px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    img{
      width: 100%;
    }
  }
}
.icon_close{
  position: absolute;
  left: 15px;
  .icon{
    margin: 0;
  }
}
.menu_block{
  padding-top: 29px;
  .heading{
    color: #fff;
    font-size: 16px;
    font-family: 'robotoBold', $font-stack-helvetica;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 10px;
  }
  .group{
    padding-top: 20px;
    li{
      background-color: #333;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid #272727;
      &:last-child{
        border-bottom: none;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      &:first-child{
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
    }
    a{
      display: inline-block;
      width: 100%;
      padding: 10px 9px;
      font-size: 14px;
      margin-bottom: 1px;
    }
    .novelty{
      padding-left: 34px;
      background: url(../img/icons/icon_novelty-small.png) left 9px center no-repeat;
    }
    .sale{
      padding-left: 34px;
      background: url(../img/icons/icon_sale-small.png) left 9px center no-repeat;
    }
    .contacts{
      padding-left: 34px;
      background: url(../img/icons/icon_phone-small.png) left 9px center no-repeat;
    }
    .shops{
      padding-left: 34px;
      background: url(../img/icons/icon_shops-small.png) left 9px center no-repeat;
    }
    .personal{
      padding-left: 34px;
      background: url(../img/icons/icon_personal-small.png) left 9px center no-repeat;
    }
    .mark{
      color: #fff;
      background-color: #e16383;
      border-radius: 11px;
      padding: 4px 10px;
      margin-left: 10px;
    }
  }
}

.search_header{
  position: relative;
  display: inline-block;
  .close{
    .icon{
      position: relative;
      &:after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        background: url('../img/icons/svg/close.svg') center no-repeat, #444;
        background-size: 24px;
      }
    }
  }
  .search_block input[type=search]{
    padding: 11px 48px 11px 13px;
  }
  .search_block .search{
    width: 40px;
    height: 40px;
    padding: 11px;
  }
  .search_block{
    position: absolute;
    top: 0;
    left: 53px;
    max-width: 0;
    width: 205px;
    overflow: hidden;
    opacity: 0;
    transition: max-width .3s ease, opacity .3s ease;
    &.visible{
      max-width: 205px;
      width: 205px;
      opacity: 1;
    }
  }
}

/* footer */

footer{
  background-color: #dfdfdf;
  overflow: hidden;
  padding: 18px 0;
  .footer_logo{
    width: 50px;
    font-size: 0;
    margin-right: 10px;
    margin-top: 12px;
    img{
      width: 100%;
    }
  }
  a{
    color: #555;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    &:hover,
    &:focus,
    &:active{
    }
  }
  .about{
    margin-top: 14px;
  }
  .shops{
    padding-left: 22px;
    background: url('../img/icons/icon_location.png') left center no-repeat;
    margin-left: 40px;
    margin-top: 14px;
  }
  .delivery{
    padding-left: 28px;
    background: url('../img/icons/icon_car.png') left center no-repeat;
    margin-left: 40px;
    margin-top: 14px;
  }
  .socials_block{
    float: right;
    .item{
      display: inline-block;
      background-color: #fff;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
      width: 42px;
      height: 42px;
      border-radius: 50%;
      position: relative;
      margin-right: 29px;
      padding: 8px;
      transition: background-image .3s ease;
      &.item_insta{
        background-image: url('../img/icons/icon_insta.png');
        background-position: center;
        background-repeat: no-repeat;
        &:hover,
        &:focus,
        &:active{
          background-image: url('../img/icons/icon_insta-hover.png');
        }
      }
      &.item_vk{
        background-image: url('../img/icons/icon_vk.png');
        background-position: center;
        background-repeat: no-repeat;
        &:hover,
        &:focus,
        &:active{
          background-image: url('../img/icons/icon_vk-hover.png');
        }
      }
      &.item_fb{
        background-image: url('../img/icons/icon_fb.png');
        background-position: center;
        background-repeat: no-repeat;
        &:hover,
        &:focus,
        &:active{
          background-image: url('../img/icons/icon_fb-hover.png');
        }
      }
    }
  }
}

/* breadcrumbs */

.breadcrumbs{
  padding-bottom: 10px;
  margin-top: 43px;
  .crumb{
    color: #555;
    font-size: 18px;
    padding-right: 25px;
    position: relative;
    display: inline-block;
    &:after{
      content: '/';
      position: absolute;
      right: 9px;
    }
    a{
      color: #7f64c2;
      transition: color .3s ease;
      &:hover,
      &:focus,
      &:active{
        color: #9964c2;
      }
    }
    &.last_crumb{
      padding-right: 0;
      &:after{
        display: none;;
      }
    }
  }
}

/* pagination */

.pagination{
  text-align: right;
  padding: 33px 0;
  li{
    display: inline-block;
    font-size: 14px;
    color: #555;
    margin: 0 10px;
  }
  a{
    color: #7f64c2;
    padding: 5px;
    display: inline-block;
    transition: color .3s ease;
    &:hover,
    &:focus,
    &:active{
      color: #9964c2;
    }
    &.active{
      color: #555;
    }
    &.prev,
    &.next{
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
      border-radius: 18px;
    }
    &.prev{
      padding: 10px 24px 10px 36px;
      background: url('../img/icons/icon_left.png') left 24px center no-repeat;
    }
    &.next{
      padding: 10px 37px 10px 23px;
      background: url('../img/icons/icon_right.png') right 24px center no-repeat;
    }
  }
}

/* slick */

.slick-dotted.slick-slider{
  margin-bottom: 20px;
}

.slick-dots{
  bottom: -20px;
    li{
      width: 10px;
      height: 10px;
      margin: 0 7px;
      button{
        width: 10px;
        height: 10px;
        background-color: #ddd;
        box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        transition: background-color .3s ease;
        &:before{
          display: none;
        }
      }
      &.slick-active button,
      &:hover button,
      &:focus button,
      &:active button{
        background-color: #8d8d8d;
      }
    } 
  } 

/* main */

.main_slider{
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  img{
    width: 100%;
  }
}

.clothes_block{
  padding-top: 32px;
}

.installment{
  margin-top: 20px;
  line-height: 0;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  img{
    width: 100%;
  }
}

.ladieswear{
  padding-top: 20px;
}

.all_categories{
  border-radius: 3px;
  width: 229px;
  border: 1px solid #e0e0e0;
  color: #555;
  font-size: 16px;
  background: url('../img/icons/icon_right.png') right 13px center no-repeat, #fff;
  padding: 5px 14px;
  float: right;
  margin-top: -40px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.categories{
  padding-top: 8.5px;
  margin-bottom: -5px;
  .col{
    width: 50%;
    display: inline-block;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
  }
  .clothes_item{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
//    display: flex;
    display: inline-block;
    position: relative;
    img{
      width: 100%;
    }
    .overlay{
      position: absolute;
      display: flex;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(149,120,218,.8);
        opacity: 0;
        transition: opacity .3s ease;
      }
    }
    .category_name{
      font-size: 100px;
      font-family: 'robotoBold', $font-stack-helvetica;
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
      text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      margin: auto;
      z-index: 1;
    }
    &:hover .overlay:before,
    &:focus .overlay:before,
    &:active .overlay:before{
      opacity: 1;
    }
  }
}

.item_prod{
  background-color: #fff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  .icon_favoirites{
    position: absolute;
    background: url('../img/icons/icon_hurt.png') center no-repeat;
    width: 30px;
    height: 27px;
    top: 12px;
    right: 26px;
    z-index: 1;
    cursor: pointer;
    opacity: .4;
    transition: opacity .3s ease;
    &:hover,
    &:active,
    &:focus{
      opacity: 1;
    }
    &.on{
      background: url('../img/icons/icon_hurt-on.png') center no-repeat;
      opacity: 1;
    }
  }
  .img_block{
    position: relative;
    display: inline-block;
    width: 100%;
    transition: opacity .3s ease;
    img{
      width: 100%;
    }
    .hover_overlay{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(149,120,218,.7);
      display: flex;
      opacity: 0;
      transition: opacity .3s ease;
      .text{
        margin: auto;
        color: #fff;
        font-size: 16px;
        text-align: center;
        img{
          margin-bottom: 12px;
        }
      }
    }
    &:hover .hover_overlay,
    &:active .hover_overlay,
    &:focus .hover_overlay{
      opacity: 1;
    }
  }
  .text_block{
    padding: 16px 13px 40px;
  }
  .price{
    color: #333;
    font-size: 18px;
    line-height: 23px;
    font-family: 'robotoBold', $font-stack-helvetica;
    font-weight: bold;
    padding-bottom: 10px;
    &.discount{
      color: #e16383;
    }
    .old_price{
      text-decoration: line-through;
      color: #999;
      font-weight: normal;
      font-family: 'scadaRegular', $font-stack-helvetica;
      padding-left: 7px;
    }
  }
  .name{
    color: #555;
    font-size: 16px;
    line-height: 19px;
    padding: 2px 0;
  }
  .sizes{
    padding-left: 27px;
    position: relative;
    background: url('../img/icons/icon_size.png') left center no-repeat;
    color: #999;
    font-size: 16px;
    line-height: 20px;
    margin-top: 18px;
  }
  .colors{
    padding-left: 27px;
    position: relative;
    background: url('../img/icons/icon_color.png') left center no-repeat;
    margin-top: 10px;
    .color{
      display: inline-block;
      margin-right: 7px;
      box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
      border-radius: 50%;
      height: 16px;
      width: 16px;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
  }
}

.goods_block{
  padding-top: 21px;
}

.goods_slider{
  padding-top: 6px;
  .col{
    padding-top: 6.5px;
    padding-bottom: 6.5px;
  }
  .item_prod{
    height: 100%;
  }
}

.left_catalog_col{
  width: 240px;
  padding-top: 43px;
  .info_block{
    margin: 0 -2.5px;
  }
  .delivery,
  .cashless{
    font-size: 14px;
    line-height: 17px;
    color: #7f64c2;
    text-align:   center;
    display: inline-block;
    border: 1px solid #eee;
    width: calc(50% - 5px);
    margin: 0 2.5px;
    padding: 20px 10px 16px;
    .img{
      max-width: 40px;
      margin: 0 auto;
      height: 34px;
      margin-bottom: 10px;
    }
    svg{
      width: 100%; 
      height: 100%;
    }
  }
}

.catalog_nav{
  box-shadow: 0 0 5px 0 rgba(0,0,0,.3);
  border-radius: 3px;
  margin-top: 20px;
  li{
    border-bottom: 1px solid #c1c1c1;
    &:last-child{
      border-bottom: none;
    }
  }
  a{
    font-size: 18px;
    display: inline-block;
    width: 100%;
    background: url(../img/icons/icon_right.png) right 13px center no-repeat;
    padding: 14px 20px 14px 10px;
    transition: box-shadow .3s ease;
    &:hover,
    &:focus,
    &:active{
      box-shadow: 0px 0px 5px 0px rgba(225, 99, 131, 0.3);
    }
  }
  .novelty{
    padding-left: 40px;
    background: url(../img/icons/icon_novelty.png) left 10px top 13px no-repeat; 
  }
  .sale{
    padding-left: 40px;
    background: url(../img/icons/icon_sale.png) left 10px top 15px no-repeat; 
  }
  .mark{
    color: #fff;
    background-color: #e16383;
    border-radius: 14.5px;
    padding: 5px 10px 3px;
    margin-left: 6px;
  }
}

.product_catalog{
  width: calc(100% - 240px);
  padding-top: 42px;
  .breadcrumbs{
    margin-top: 0;
  }
  .title{
    text-align: left;
  }
}

.goods_block{
  .col{
    width: 20%;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .item_prod{
    height: 100%;
  }
}

/* zoom */

.my-foto{
  opacity: .6;
  transition: opacity .3s ease;
  &.active,
  &:hover,
  &:focus,
  &:active{
    opacity: 1;
  }
}

/* product */

.photo_frame{
  width: 66.666%;
  padding-top: 20px;
  @include clearfix;
  .main_img{
    width: calc(100% - 120px);
    float: right;
    text-align: center;
    height: 70vh;
    min-height: 400px;
    .my-foto-container{
      height: 100%;
    }
  }
  .thumbs{
    width: 100px;
    margin-right: 20px;
    .my-foto{
      width: 100%;
      margin-bottom: 5px;
    }
  }
}

.info_frame{
  width: 33.333%;
  padding-top: 20px;
  .item_info{
    border-bottom: 1px solid #ccc;
    position: relative;
    padding: 30px 70px 30px 0;
  }
  .price{
    color: #333;
    font-size: 24px;
    line-height: 23px;
    font-family: 'robotoBold', $font-stack-helvetica;
    font-weight: bold;
    padding-bottom: 18px;
    padding-left: 13px;
    &.discount{
      color: #e16383;
    }
    .old_price{
      text-decoration: line-through;
      color: #999;
      font-weight: normal;
      font-family: 'scadaRegular', $font-stack-helvetica;
      padding-left: 7px;
    }
  }
  .icon_favoirites{
    position: absolute;
    background: url('../img/icons/icon_hurt_prod.png') center no-repeat;
    width: 47px;
    height: 47px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    top: 30px;
    right: 13px;
    z-index: 1;
    cursor: pointer;
    opacity: .6;
    transition: opacity .3s ease;
    &:hover,
    &:active,
    &:focus{
      opacity: 1;
    }
    &.on{
      background: url('../img/icons/icon_hurt_prod-on.png') center no-repeat;
      opacity: 1;
    }
  }
  .name{
    padding-left: 13px;
    font-size: 18px;
    line-height: 22px;
  }
  .size,
  .color{
    font-size: 18px;
    color: #333;
    font-family: 'scadaBold', $font-stack-helvetica;
    font-weight: bold;
    display: inline-block;
    padding-left: 13px;
    .value{
      font-family: 'scadaRegular', $font-stack-helvetica;
      font-weight: normal;
    }
  }
  .size{
    margin-right: 13px;
  }
  .icon_options{
    border-radius: 50%;
    background:  url('../img/icons/icon_check.png') center no-repeat, linear-gradient( 60deg, rgb(127,100,194) 0%, rgb(153,100,194) 100%);
    box-shadow: 0px 0px 7px 0px rgba(127, 100, 194, 0.004),inset 0px 0px 3px 0px rgba(51, 51, 51, 0.1);
    width: 47px;
    height: 47px;
    top: 14px;
    right: 13px;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    &.edit{
      background:  url('../img/icons/icon_edit.png') center no-repeat, linear-gradient( 60deg, rgb(127,100,194) 0%, rgb(153,100,194) 100%);
    }
  }
  .icon_eye{
    border-radius: 50%;
    background:  url('../img/icons/icon_eye-hidden.png') center no-repeat;
    box-shadow: 0px 0px 7px 0px rgba(127, 100, 194, 0.004),inset 0px 0px 3px 0px rgba(51, 51, 51, 0.1);
    width: 47px;
    height: 47px;
    top: 14px;
    right: 13px;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    &.edit{
      background:  url('../img/icons/icon_eye.png') center no-repeat;
    }
  }
  .delivery .hidden_block{
    padding-top: 22px;
    a{
      font-size: 18px;
      line-height: 22px;
      color: #7f64c2;
      display: inline-block;
      width: 100%;
      padding-left: 30px;
      position: relative;
      margin: 16px 0 0;
      transition: color .3s ease;
      img{
        position: absolute;
        left: 0;
        top: 2px;
      }
      &:hover,
      &:focus,
      &:active{
        color: #9964c2;
      }
    }
  } 
}

.hidden_block{
  padding-left: 13px;
  display: none;
}

.choice_size{
  padding: 39px 0 5px;
  .caption{
    font-size: 18px;
    color: #333;
    padding-left: 30px;
    background: url('../img/icons/icon_size.png') left top 2px no-repeat;
    padding-bottom: 14px;
  }
  label{
    cursor: pointer;
    border-radius: 50%;
    width: 47px;
    height: 47px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    line-height: 47px;
    text-align: center;
    color: #333;
    display: inline-block;
    margin-right: 9px;
    background-color: #fff;
    transition: background-color .3s ease, color .3s ease;
    &:hover,
    &:focus,
    &:active{
      background-color: #9a7ce2;
      color: #fff;
    }
  } 
  input[type='radio']{
    position: absolute;
    display: none;
  }
  input[type='radio']:checked + label{
    background-color: #9a7ce2;
    color: #fff;
  }
  .field{
    display: inline-block;
  }
}

.size_table{
  font-size: 18px;
  color: #7f64c2;
  padding-left: 30px;
  background: url('../img/icons/icon_ruler.png') left center no-repeat;
  margin-top: 18px;
  display: inline-block;
}

.choice_color{
  padding-top: 39px;
  .caption{
    font-size: 18px;
    color: #333;
    padding-left: 30px;
    background: url('../img/icons/icon_color.png') left top 2px no-repeat;
    padding-bottom: 14px;
  }
  .field{
    display: inline-block;
  }
  label{
    border-radius: 50%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    width: 47px;
    height: 47px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 9px;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 2px solid transparent;
      border-radius: 50%;
      transition: border-color .3s ease;
    }
    &:hover:after,
    &:focus:after,
    &:active:after{
      border-color: #9a7ce2;
    }
  }
  input[type='radio']:checked + label:after{
    border-color: #9a7ce2;
  }
  input[type='radio']{
    position: absolute;
    display: none;
  }
}

.item_name{
  font-size: 18px;
  color: #333;
  font-family: 'scadaBold', $font-stack-helvetica;
  font-weight: bold;
  display: inline-block;
  padding-left: 13px;
}

.number{
  .number__minus,
  .number__plus{
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    width: 47px;
    height: 47px;
    font-size: 26px;
    color: #7f64c2;
    cursor: pointer;
    vertical-align: middle;
  }
  .input{
    width: 60px;
    padding: 0 8px;
    box-shadow: none;
    border: none;
    color: #333;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
    background: transparent;
  }
}

.info_frame .item_info.quantity{
  padding-right: 13px;
  .number {
    float: right;
    margin-top: -17px;
  }
}

.info_frame .item_info.to_card{
  padding-right: 0;
  text-align: center;
}

.add_to_card{
  background: #9964c2;
  overflow: hidden;
  box-shadow: 0px 0px 7px 0px rgba(153, 100, 194, 1),inset 0px 0px 3px 0px rgba(51, 51, 51, .1);
  position: relative;
  width: 285px;
  height: 57px;
  border-radius: 28.5px;
  color: #fff;
  font-family: 'scadaBold', $font-stack-helvetica;
  font-size: 21px;
  border: 0;
  cursor: pointer;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient( 60deg, rgb(127,100,194) 0%, rgb(153,100,194) 100%);
    transition: transform 2s ease; 
  }
  span{
    position: relative;
  }
  img{
    margin-right: 10px;
    position: relative;
    top: 5px;
  }
  &:hover:before,
  &:focus:before,
  &:active:before{
    transform: translateX(-100%);
  }
}

.attributes_block{
  padding-left: 13px;
  color: #555;
  font-size: 16px;
  line-height: 19px;
  padding-top: 30px;
  .item_attr{
    margin: 7px 0;
    &.hidden_block{
      display: none;
      padding-left: 0;
    }
  }
}

.recommendations{
  .subtitle{
    text-align: left;
  }
}

.item_shop{
  font-size: 18px;
  color: #444;
  width: 50%;
  padding-top: 29px;
  .img_block{
    height: 70vh;
    overflow: hidden;
    position: relative;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
  .info_block{
    border-bottom: 1px solid #ccc;
    padding: 17px 17px 17px 12px;
    overflow: hidden;
  }
  .location{
    padding: 14px 0 14px 2px;
    display: inline-block;
  }
  .item_info{
    font-size: 16px;
    margin: 7px 0;
    img{
      margin-right: 8px;
      position: relative;
      top: 3px;
    }
  }
  .icon{
    box-shadow: 0 0 7px 0 rgba(127,100,194,.004), inset 0 0 3px 0 rgba(51,51,51,.1);
    background: url(../img/icons/icon_location-color.png) center no-repeat;
    border-radius: 50%;
    width: 47px;
    height: 47px;
    float: right;
  }
}

.simple_text{
  font-size: 16px;
  line-height: 17px;
  padding-top: 25px;
  @include clearfix;
  .bold{
    font-size: 18px;
    padding-bottom: 20px;
  }
  ol,
  ul{
    margin-left: 15px;
  }
  li{
    margin: 10px 0;
  }
  ul{
    li{
      position: relative;
      &:before{
        content: '';
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: #999;
        left: -15px;
        top: 5px;
      }
    }
  }
  ol{
    padding-bottom: 16px;
  }
  & > img{
    margin-bottom: 18px;
  }
}